* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

body, html {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.login-form {
    background: #ffffff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 400px;
    width: 100%;
}

h1 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}
.logo {
    font-size: 50px;
    font-weight: bold;
    background-color: #000;
    color: #fff;
    display: inline-block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 4px;
    margin-bottom: 20px;
}

form .input-group{
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0;
}
.input-group input{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}
.input-group label{
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
}
.input-group span::before{
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    height: 2px;
}
.input-group input:focus ~ label, .input-group input:valid ~ label{
    top: -5px;
}

.login-btn {
    width: 100%;
    padding: 15px;
    background: linear-gradient(90deg, #cf48a7, #1e90ff);
    border: none;
    border-radius: 30px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s;
    margin-bottom: 50px;
}

.login-btn:hover {
    background: linear-gradient(90deg, #1e90ff, #ff7f50);
}

.signup-text {
    margin-top: 20px;
    color: #777;
}

.signup-text a {
    color: black;
    text-decoration: none;
}

.signup-text a:hover {
    text-decoration: underline;
}

@media (max-width: 480px) {
    .login-form {
        padding: 20px;
    }

    .logo {
        font-size: 40px;
    }

    h2 {
        font-size: 20px;
    }
}
